In [11]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [12]:
data = pd.read_csv("athlete_events.csv")
data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [13]:
data.rename(columns={
    'ID' : 'id',
    'Name': 'isim',
    'Sex':'cinsiyet',
    'Age': 'yas',
    'Height' : 'boy',
    'Weight': 'kilo',
    'Team' : 'takim',
    'Noc' : 'uok',
    'Games' : 'oyunlar',
    'Year' : 'yil',
    'Season' : 'sezon',
    'City' : 'sehir',
    'Sport' : 'spor',
    'Event' : 'etkinlik',
    'Medal': 'madalya'
},inplace=True)

In [14]:
data

,id,isim,cinsiyet,yas,boy,kilo,takim,NOC,oyunlar,yil,sezon,sehir,spor,etkinlik,madalya
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [15]:
essiz_etkinlik = pd.unique(data.etkinlik)
print("Essiz etkinlik sayisi : {}".format(len(essiz_etkinlik)))
essiz_etkinlik[:10]

Essiz etkinlik sayisi : 765

array(["Basketball Men's Basketball", "Judo Men's Extra-Lightweight",
       "Football Men's Football", "Tug-Of-War Men's Tug-Of-War",
       "Speed Skating Women's 500 metres",
       "Speed Skating Women's 1,000 metres",
       "Cross Country Skiing Men's 10 kilometres",
       "Cross Country Skiing Men's 50 kilometres",
       "Cross Country Skiing Men's 10/15 kilometres Pursuit",
       "Cross Country Skiing Men's 4 x 10 kilometres Relay"], dtype=object)

Etkinlik ozelinde boy ve kilo verisi var mi kontrol ediyor . var ise genel ortalamayi hesapliyor
yok ise ortalama bir deger atayip sonrasinda tum veriler dolduktan sonra genel ortalamayi hesapliyor.

Her bir etkinlik iteratif olarak dolas
Etkinlik ozelinde boy ve kilo ortalamalarini hesapla
Etkinlik ozelinde kayip boy ve kilo degerlerini etkinlik ortalamalarina esitle

In [17]:
veri_gecici = data.copy() # Gercek veriyi bozmamak icin veriyi kopyaliyorum.
boy_kilo_liste = ["boy","kilo"]

for e in essiz_etkinlik: # Liste icerisinde dolas

    # etkinlik filtresi olustur.
    etkinlik_filtre = veri_gecici.etkinlik == e
    # veriyi etkinlige gore filtreleyelim
    veri_filtreli = veri_gecici[etkinlik_filtre]

    # boy ve kilo icin etkinlik ozelinde ortalamalari hesaplayalim
    for s in boy_kilo_liste:
        ortalama = np.round(np.mean(veri_filtreli[s]),2)
        if ~np.isnan(ortalama): # eger etkinlik ozelinde ortalama var ise
            veri_filtreli[s] = veri_filtreli[s].fillna(ortalama)
        else: # eger etkinlik ozelinde ortalama varsa ortalamayi hesapla 
            tum_veri_ortalamasi = np.round(np.mean(data[s]),2)
            veri_filtreli[s] = veri_filtreli[s].fillna(tum_veri_ortalamasi)
        #etkinlik ozelinde kayip degerleri doldurulmus olan veriyi , veri_gecici'ye esitleyelim
        
    veri_gecici[etkinlik_filtre] = veri_filtreli
# Kayip degerleri giderilmis olan gecici veriyi gercek veriye esitle
data = veri_gecici.copy()
data.info() # Boy ve kilo sutunlarinda kayip deger sayisina bakalim

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        271116 non-null  int64
 1   isim      271116 non-null  object
 2   cinsiyet  271116 non-null  object
 3   yas       261642 non-null  float64
 4   boy       271116 non-null  float64
 5   kilo      271116 non-null  float64
 6   takim     271116 non-null  object
 7   NOC       271116 non-null  object
 8   oyunlar   271116 non-null  object
 9   yil       271116 non-null  int64
 10  sezon     271116 non-null  object
 11  sehir     271116 non-null  object
 12  spor      271116 non-null  object
 13  etkinlik  271116 non-null  object
 14  madalya   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

YAS SUTUNUNDA KAYIP VERI DOLDURMA

In [18]:
# Yas degiskeninde tanimli olmayan degerleri bulalim
yas_ortalamasi = np.round(np.mean(data.yas),2)
print('Yas Ortalamasi : {}'.format(yas_ortalamasi))
data['yas'] = data['yas'].fillna(yas_ortalamasi)
data.info()

Yas Ortalamasi : 25.56
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        271116 non-null  int64
 1   isim      271116 non-null  object
 2   cinsiyet  271116 non-null  object
 3   yas       271116 non-null  float64
 4   boy       271116 non-null  float64
 5   kilo      271116 non-null  float64
 6   takim     271116 non-null  object
 7   NOC       271116 non-null  object
 8   oyunlar   271116 non-null  object
 9   yil       271116 non-null  int64
 10  sezon     271116 non-null  object
 11  sehir     271116 non-null  object
 12  spor      271116 non-null  object
 13  etkinlik  271116 non-null  object
 14  madalya   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

Madalya alamayan sporcularÄ±n veri seti